<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Generator</title>
  </head>
  <body>
    <form method="post" action="{{url_for('index')}}">
      <input type="text" name="genre" placeholder="Genre of movie"required>
      <input type="text" name="year" placeholder="Release year of movie"required>
      <input type="number" min="1" max="10" name="rating" placeholder="minimum rating of movie"required>
      <input type="submit">
    </form>
  </body>
</html>